h1,
h2,
button,
ul {
  all: unset;
}

::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #feddbc; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #548b7f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #feddbc; /* creates padding around scroll thumb */
}

:root {
  --Html5: #e54c21;
}

body {
  margin: 0;
  font-family: "Khand", sans-serif;
  overflow: hidden;
}

.orange {
  color: #e54c21;
}

.html5:hover {
  color: #e54c21;
}

.darkBlue {
  color: #0173ba;
}

.css3:hover {
  color: #0173ba;
}

.yellow {
  color: #f5e11b;
  text-shadow: 2px 2px 6px #636363;
}

.js:hover {
  color: #f5e11b;
  background-color: #181818;
  box-shadow: 2px 2px 3px #a6a6a6;
}

.lightBlue {
  color: #61dbfb;
}
.react:hover {
  color: #61dbfb;
}

.pink {
  color: #c85e9f;
}
.sc:hover {
  color: #c85e9f;
}

.purple {
  color: #764abc;
}
.redux:hover {
  color: #764abc;
}

@font-face {
  font-family: "PixelOperatorBold";
  src: local("PixelOperatorBold"),
    url("./fonts/Pixel Operator/PixelOperator-Bold.ttf") format("truetype");
  font-weight: bold;
}

@keyframes blink {
  44% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

@keyframes translateTitle {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes translateText {
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes translateImg {
  50% {
    transform: translateY(50px);
  }
}

@keyframes translateUp {
  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes translateLeft {
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes translateRight {
  to {
    transform: translateX(+50%);
    opacity: 0;
  }
}
