h1,
h2,
button,
ul {
  all: unset;
}

body {
  margin: 0;
  font-family: "Khand", sans-serif;
}

@font-face {
  font-family: "PixelOperatorBold";
  src: local("PixelOperatorBold"),
    url("./fonts/Pixel Operator/PixelOperator-Bold.ttf") format("truetype");
  font-weight: bold;
}

@keyframes blink {
  44% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

@keyframes translateTitle {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes translateText {
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes translateImg {
  50% {
    transform: translateY(50px);
  }
}
